@import 'nib'

.page-container
  height: 100%
.status-bar
  width: 100%
  background-color: #ddd
  .left
    float: left
    width: 2.5em
  .right
    float: left
  .players
    height: 3em
  .player
    float: left
    margin: 0 0 0.2em 0.5em
    img
      display: block
      float: left
      height: 2em
    .username
      color: #444
  .current-player
    border: solid 1px #0f0
    .username
      font-weight: bold
      color: #000
  .stacks
    font-size: 0.8em
    white-space: nowrap
    .count
      display: inline-block
      float: left
      background-color: rgba(127, 127, 127 ,0.2)
      padding: 0.05em 0.3em 0.1em 0.3em
      border-radius: 1em
      margin: 0 0.1em 0 0
.playing-card
  border-radius: 2.2em
  transform-origin: 0 0
  box-shadow: 1px 1px 1em 0 rgba(0, 0, 0, 0.5)
  padding: 0
  width: 14.2em
  height: 22.3em
  img
    width: 14.2em
    height: 22.3em
    pointer-events: none
  h1, h2
    color: #666
    text-align: center
    margin-top: 30px
  h1
    font-size: 32px
  h2
    font-size: 24px
.landscape-mode
  height: 100%
.game-page
  position: absolute
  width: 100%
  transform-origin: 0 0
  .map-holder
    width: 100%
  .game-board
    position: absolute
    transform-origin: 0 0
    .game-tile, tile
      position: absolute
      span
        font-weight: bold
      canvas
        position: absolute
        z-index: 1
      a
        position: absolute
        z-index: 2
        display: block
        text-decoration: none
  .crystals-holder
    clear: both
    left: 0px
    width: 100%
    background-color: #77a
    font-size: 0.4em
    .crystals-stack
      transform: translate3d(0px, 0px, 0px)
      float: left
      background-color: #006599
      border-left: solid 1px #f3f3f3
      border-right: solid 1px #f3f3f3
      width: 14.2em
      height: 22.3em
      .label
        font-size: 3em
        position: absolute
        color: #fff
        background: rgba(0,0,0,0.3)
        padding: 0px 4px 4px 4px
      .card-count
        font-size: 3em
        position: absolute
        right: 0px
        bottom: 0px
        padding: 0px 4px 4px 4px
        color: #fff
        background: rgba(0,0,0,0.3)
        transform-origin: 100% 100%
      .cards
        position: absolute
      .playing-card
        position: absolute
    .crystals-stack-0
      left: 0
    .crystals-stack-1
      left: 14.2em
    .crystals-stack-2
      left: 28.4em
    .crystals-stack-3
      left: 42.6em
    .crystals-stack-4
      left: 56.8em
    .crystals-stack-5
      left: 71em
  .hand-holder
    clear: both
    float: left
    width: 100%
    background-color: #77a
    font-size: 0.5em
    text-align: center
    .hand
      width: 100%
    .cards
      width: 100%
      text-align: center
      .playing-card
        text-align: center
        display: inline-block
.overlay
  position: absolute
  top: 0px
  left: 0px
  z-index: 99
  background-color: rgba(0,0,0,0.5)
  .overlay-popup
    position: absolute
    background-color: rgba(255,255,255, 0.8)
    padding: 1.6em 2em
    box-shadow 0.1em 0.2em 0.5em #000

.clear
  height: 0px
  line-height: 0
  clear: both

.landscape-mode
  .game-page, .hand-holder, .crystals-holder, .map-holder
    transition: transform 0.6s ease
.hand-holder, .crystals-holder, .map-holder
  position: absolute
.portrait-mode
  .hand-holder, .crystals-holder, .map-holder
    position: static
  .view-btn
    display: none

.landscape-mode.view-hand
  .map-holder, .crystals-holder
    transform: translate3d(-100%, 0px, 0px)
.landscape-mode.view-crystals
  .map-holder, .hand-holder
    transform: translate3d(-100%, 0px, 0px)
.landscape-mode.view-map
  .hand-holder, .crystals-holder
    transform: translate3d(-100%, 0px, 0px)
