.player-setup
  text-align: center
  .game-url
    font-size: 0.7em
    input
      width: 15em !important
  .players
    vertical-align: top
    font-size: 1.8em
    .preview-container
      max-width: 18em
    .top, .bottom
      font-size: 3em
    .player-preview
      margin: 0 0.3em
      display: inline-block
      text-align: center
      img
        width: 4em
        height: 4em
      span
        position: absolute
        display: block
        width: 4em
        small
          font-size: 0.7em
      .blue
        color: #6688bb
      .black
        color: #1c4170
      .orange
        color: #7e100e
      .yellow
        color: #8c6239
      .noplayer
        color: #86c981
    .player1, .player3
      .bottom
        display: none
    .player2
      .top
        display: none
    .player4, .player5
      .top
        font-size: 2em
        