<template name="game">
  {{#if game.started}}
    <div class="status-bar">
      {{> status_bar}}
    </div>
    <div class="game-page">
      <div class="map-holder">
          {{> map}}
        <div class="game-board map-overlay" id="map-overlay">
          {{> overlay}}
        </div>
      </div>
      <div class="crystals-holder">
        {{> crystals}}
      </div>
      <div class="hand-holder">
        {{> hand}}
      </div>
    </div>
    {{#if showOverlay}}
    <div class="overlay">
      <div class="overlay-popup">
        {{#if underAttack}}
          {{> defense}}
        {{else}}
          {{#if waitingForDefense}}
            {{> wait_for_defense}}
          {{/if}}
        {{/if}}
        {{#if confirmPlayingWeapon}}
          {{> confirm_playing_weapon}}
        {{/if}}
        {{#if confirmPlayingSpell}}
          {{> confirm_playing_spell}}
        {{/if}}
        {{#if energyRequired}}
          {{> energy_required}}
        {{/if}}
        {{#if selectOpponents}}
          {{> select_opponents}}
        {{/if}}
        {{#if selectCardsFromHand}}
          {{> select_cards_from_hand}}
        {{/if}}
        {{#if showMyInfo}}
          {{> my_info}}
        {{/if}}
      </div>
    </div>
    {{/if}}
  {{else}}
    {{> players}}
  {{/if}}
</template>