<head>
  <title>Yeticorn</title>
  <meta name="viewport" content="width=600">
  <link href="http://fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css">
</head>

<body>
  {{> root}}
</body>

<template name="root">
  <div class="container outer-container" id="outer-container">
    <div class="page-container" id="page-container">
      {{#isolate}}{{renderPage}}{{/isolate}}
    </div>
  </div>
  <div style="display: none;">{{setTitle}}</div>
</template>

<template name="page">
  {{#if error}}
    <div class="alert alert-error">{{error}}</div>
  {{/if}}
  
  {{#if waitingList}}
    <div class="alert alert-error">
      <div>It's your turn!</div>
      {{#each waitingList}}
        <div>
          <a href="/game/{{_id}}">{{#with player1._id}}{{userById}}{{/with}}{{#unless lonely}} vs {{#with player2._id}}{{userById}}{{/with}}{{/unless}}</a> ({{#if lonely}}awaiting opponent{{else}}{{moves}} moves{{/if}})
        </div>
      {{/each}}
    </div>
  {{/if}}
  
  {{#if gameLoading}}
    {{> loading}}.....
  {{else}}
    {{#if showGame}}
      {{> game}}
    {{else}}
      {{#if currentUser}}
        <div class="start-page big-input">
          <a href="/" class="logout" style="float: right;">logout</a>
          <div class="start-page-content"style=";">
            <h1>Start New Game</h1>
            <div class="start-buttons">
              <input type="button" class="btn btn-large btn-primary create-public-game" value="Public" />
              <input type="button" class="btn btn-large btn-primary create-private-game" value="Invite-only" />
            </div>
            <div class="clear"></div>
            {{#if anyGames}}
            <div class="start-page-columns">
              <h3>My Games</h3>
              {{#unless myGames}}You're not in any games. Start one!{{else}}GAMES!{{/unless}}
              {{#each myGames}}
                <div>
                  <input type="button" id="{{_id}}" class="btn btn-small join-button join-{{_id}}" value="{{ownerName}}" />
                </div>
              {{/each}}
            </div>
            <div class="start-page-columns">
              <h3>Games waiting for opponents:</h3>
              {{#unless gameList}}No available games found.{{/unless}}
              {{#each gameList}}
                <div>
                  <input type="button" id="{{_id}}" class="btn btn-small join-button join-{{_id}}" value="{{ownerName}}" />
                </div>
              {{/each}}
            </div>
            {{/if}}
          </div>
        </div>
      {{else}}
        <h1>Yeticorn</h1>
        {{> signup}}
      {{/if}}
    {{/if}}
  {{/if}}
</template>

<template name="signup">
  <div class="signup">
    <form class="signup-form">
      <p>
        <input type="text" class="username" name="username" placeholder="Enter Name" value="{{username}}" />
      </p>
      <p>
        <input type="password" class="password" placeholder="Password" name="password" />
      </p>
      <input type="submit" class="btn btn-large btn-primary" value="Start" />
    </form>
  </div>
</template>

<template name="loading">
  <div>Loading...</div>
</template>

<template name="not_found">
not found.
</template>
