<template name="players">
  <div class="player-setup">
    <h1>Yeticorn</h1>
    <div class="game-url big-input"><input type="text" value="{{gameUrl}}" /></div>
    <div class="players">
      <div class="preview-container">
      {{#each players}}
        <div class="player-preview player{{id}}">
          <div class="top">&nbsp;</div>
          <div class="img-holder"><img src="/images/character/{{character}}_preview.png" data-id="{{_id}}" /></div>
          <span class="{{character}}">{{displayName}}</span>
          <div class="bottom">&nbsp;</div>
        </div>
      {{/each}}
      {{#each placeholders}}
        <div class="player-preview player{{id}}">
          <div class="top">&nbsp;</div>
          <div class="img-holder"><img src="/images/character/preview_noplayer.png" /></div>
          <span class="noplayer"><small>waiting for</small><br />player {{id}}</span>
          <div class="bottom">&nbsp;</div>
        </div>
      {{/each}}
    </div>
    </div>
    
    {{#if currentUser}}
      {{#if isOwner}}
        <input type="button" value="Start" class="btn btn-large {{#if canStart}}btn-primary{{/if}} start-game" {{#unless canStart}}disabled{{/unless}} />
      {{/if}}
      {{#if canJoin}}
        <input type="button" value="Join" class="btn btn-large btn-primary join-game" />
      {{/if}}
    {{else}}
      <div class="overlay">
        <div class="overlay-popup signup">
          <h1>Sign in to play!</h1>
          {{> signup}}
        </div>
      </div>
    {{/if}}
  </div>
</template>