<template name="status_bar">
  <div><input type="button" value="End Turn" class="btn btn-small end-turn" /></div>
  <input type="button" value="View Map" class="btn btn-small view-map-btn" />
  <input type="button" value="View Hand" class="btn btn-small view-hand-btn" />
  <input type="button" value="View Crystals" class="btn btn-small view-crystals-btn" />
  {{#if isMyTurn}}
    ENERGY: {{currentTurnEnergy}} / {{totalAvailableEnergy}}
  {{/if}}
  <div class="players">
    {{#each players}}
    <div class="player{{#if myTurn}} current-player{{/if}}">
      <div class="left">
        <img src="{{avatar}}" />
      </div>
      <div class="right">
        <div class="username">{{username}} ({{life}})</div>
        <div class="stacks">
          {{#each stacks}}
          <div class="count">{{count}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="clear: both"></div>
</template>